$myFont: Helvetica, sans-serif;
$myColor: salmon;
$myFontSize: 20px;
$myWidth: 680px;

body {
    text-align: center;
    margin: 0;
    background-color: antiquewhite;
    color: black;
    font-size: $myFontSize;
    font-family: $myFont;
}

h1 {
  color: $myColor;
}

a {
    text-decoration: none;
    color: $myColor;
}

a:hover {
    color: white;
}

button {
    background-color: blue;
    color: white;
    border-radius: 6px 6px 6px;
    font-size: $myFontSize;
}

button:hover {
    background-color: $myColor;
}

