$myFont: Helvetica, sans-serif;
$primary_1: #253132;
$primary_2: #ffb86c;
$primary_3: #106cad;
$primary_4: #fdf0ce;
$myFontSize: 20px;

body {
    text-align: center;
    margin: 0;
    background-color: dodgerblue;
    color: black;
    font-size: $myFontSize;
    font-family: $myFont;
}

h1 {
  color: $primary_1;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $primary_3;
}

a:hover {
    color: $primary_2;
}

button {
    background-color: blue;
    color: white;
    border-radius: 6px 6px 6px;
    border-color: white;
    border-width: 5px;
    font-size: $myFontSize;
}

button:hover {
    background-color: $primary_1;
    border-color: white;
}

#password {
    padding-left: 37px;
}

form {
    padding-bottom: 30px;
}