$myFont: Helvetica, sans-serif;
$myColor: salmon;
$myFontSize: 20px;

body {
    text-align: center;
    margin: 0;
    background-color: antiquewhite;
    color: black;
    font-size: $myFontSize;
    font-family: $myFont;
}

h1 {
  color: $myColor;
}

a {
    text-decoration: none;
    color: $myColor;
}

a:hover {
    color: blue;
}

button {
    background-color: blue;
    color: white;
    border-radius: 6px 6px 6px;
    border-color: white;
    border-width: 5px;
    font-size: $myFontSize;
}

button:hover {
    background-color: $myColor;
    border-color: white;
}

#password {
    padding-left: 37px;
}

form {
    padding-bottom: 30px;
}